

.parent{
	background-color: pink;
}


.table{
	border: 1px solid gray;
}


.cell{
    height: 25vh;
    width: 33vw;
    border: 1px solid gray
}

.img{
     height: 50%;
    width: 50%;
}

.row{
}

.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}